
$red: red;
$blue: blue;
$green: green;

@mixin article($color, $borderclr, $fontsize) {
    color: $color;
    border: solid rem(1px) $borderclr;
    font-size: $fontsize;
}

@function rem($px){
    @return ($px / 16px) * 1rem
} 

div { 
    border: solid rem(1px) $red;
     align-items: center;
     display: flex;
     flex-direction: column;
 }

 h1 {
     color: $green;
     text-decoration: underline $blue;
 }
 
 section {
    display: flex;
    justify-content: center;

    article {
        border: solid $green rem(1px);
        width: 100%;

        &:nth-child(even) {
            @include article($red, $green, rem(16px));
        }

        &:nth-child(odd) {
            @include article($blue, $green,rem(16px));
        }
    }
 }