
@function rem-calc($size, $font-size : $font-size) {
    $font-size: $font-size + 0px;
    $remSize:  $font-size / $size;
    @return #{$remSize}rem;
}


$font-size: 16;

body {
  font-size: #{$font-size}px;
  font-size: rem-calc(16px); // 1rem
}



@mixin article-card($color, $color2, $text) {
    color: $color;
    border: 1px solid $color2;
    font-size: rem-calc(16px,16);
    text-align: $text;
   }
  

   .art1 {
       @include article-card(blue, green,center);
      
       
   }
   .art2 {
       @include article-card(red, green,center);
   }
   .art3 {
       @include article-card(green, blue,center);
       width: 100%;
      text-align: center;

   }

   div{
       @include article-card(none,red, none )
      
      
   }
$font:24px;
   section{
       display: flex;
       justify-content: center;
       padding-left: 20px;
       padding-right: 20px;
   }

   .sec2 {
       padding: 20px;
       font-size: $font;
   }

   h1 {
       text-align: center;
       text-decoration: underline blue;
       color: green;
   }